<!--
<div class="desc">
    <div class="plantImg">
        <img src="{{plantImgURL}}">
    </div>
    <div class="plantName">
        <h2>{{plantName}}</h2>
    </div>
    <div class="line"></div>
    <div class="plantDesc"> {{plantDesc}}, {{plantLat}}, {{plantLong}} </div>
</div>

-->
