<div id="desc-container">
    <div class="plantName">
        <h2 class="plant-title">{{marker_name}}</h2>
    </div>
    <div class="plantImg">
        <img src="{{marker_image}}">
    </div>
    <div id="plantDesc" contenteditable="false"> 
        {{marker_description}}
    </div>
    <p>Location: {{marker_long}}, {{marker_lat}}</p>
    
    <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
    <button type="button" id="expert-button">Suggest Edits</button>
    <button type="button" id="save-button">Save Changes</button>
</div>