<article class="marker">
  <div class="marker-content">
   <p class="plant-name">
      <a>{{name}}</a>
  </p>

  <p class="plant-location">
      Longitude: {{longitude}} | Latitude: {{latitude}}
  </p>
  <p class="marker-description">
      {{description}}
  </p>
  
  </div>    
  <div class="plant-img">
        <img src="../../{{plant-img}}">
  </div>
</article>