<article class="marker">
  <div class="marker-content">
   <p class="plant-name">
      <a>{{marker_name}}</a>
  </p>

  <p class="plant-location">
      Longitude: {{marker_long}} | Latitude: {{marker_lat}}
  </p>
  <p class="marker-description">
      {{marker_description}}
  </p>
  
  </div>    
  <div class="plant-img">
        <img src="../../{{marker_image}}">
  </div>
</article>