<div class="content">
    <a class="avatar" href="/users/{{username}}">
        <img src="{{image_id}}">
    </a>        
    <div class="rank-info"> 
        <a class="name" href="/users/{{username}}">{{username}}</a>
    </div>
    <div class="points">{{plant_points}}</div>
</div>