<div class="content">
    <a class="avatar" href="{{username}}">
        <img src="{{image_id}}">
    </a>        
    <div class="rank-info"> 
        <a class="name" href="{{username}}">{{username}}</a>
    </div>
    <div class="points">{{plant_points}}</div>
</div>