<div class="top-half"></div>
    <a class="avatar" id="profile-picture" href="{{profileUrl}}">
        <img src="../{{pfpUrl}}">
    </a>        
    <div class="profile-username"> 
        <a class="username" href="/users/{{username}}">{{username}}
        <div class="date-joined"> Joined {{dateJoined}}</div></a>
    </div>
</div>
<div class="bottom-half">
    <br><br><br><br>
    <div class="points" id="profile-points">{{profilePoints}}</div>
    <br><br><br>
    <a class="user-markers" href="#"> Your Markers</a>
</div>