<style>
	body {
		margin: 0;
		padding: 0;
	}
</style>

<div class="map-flex">
    <div class="desc-container">

      <div class="plantName">
            <h2 class="plant-title">Weed</h2>
        </div>
        <div class="plantImg">
            <img src="weed.jpg">
        </div>
        <div class="plantDesc"> 
          This is a weed plant adlkfjkls;djfkjasklfj;adsfjk;lasf;
          <p>Location: 129048124, -120948124</p>
        </div>
        <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        <button type="button" id="expert-button">Suggest Edits</button>
  </div>

<!-- TEMPLATIZED THE ABOVE
<div class="map-flex">
    <div class="desc-container">

      <div class="plantName">
            <h2 class="plant-title">{{marker_name}}</h2>
        </div>
        <div class="plantImg">
            <img src="{{marker_image}}">
        </div>
        <div class="plantDesc"> 
          {{marker_description}}
          <p>Location: {{marker_long}}, {{marker_lat}}</p>
        </div>
        <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        <button type="button" id="expert-button">Suggest Edits</button>
  </div>
-->

<div id="map">
	<div class="leaflet-control coordinate"></div>
</div>


</div>

<button type="button" id="add-plant-button"><i class="fas fa-plus"></i></button>

    	<div id="modal-backdrop" class="hidden"></div>
    	<div id="add-something-modal" class="hidden">
      	<div class="modal-dialog">

        	<div class="modal-header">
          		<h3>Add a plant marker</h3>
          		<button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        	</div>

        <div class="modal-body">

          <div class="marker-input-element">
            <label for="marker-text-input">Plant name</label>
            <input type="text" id="marker-name-input" placeholder="enter plant name" class="marker-input-box">
          </div>

          <div class="marker-input-element">
            <label for="marker-photo-input">Image URL</label>
            <input type="text" id="marker-photo-input" placeholder="enter plant image URL" class="marker-input-box">
          </div>

          <div class="marker-input-element">
            <label for="marker-desc-input">Plant description</label>
            <input type="text" id="marker-desc-input" placeholder="enter plant description" class="marker-input-box">
          </div>

		  <div class="marker-input-element">
			<label for="marker-lat-input">Plant latitude</label>
			<input type="text" id="marker-lat-input" placeholder="enter plant latitude" class="marker-input-box">
		  </div>
		  
          <div class="marker-input-element">
            <label for="marker-long-input">Plant longitude</label>
            <input type="text" id="marker-long-input" placeholder="enter plant longitude" class="marker-input-box">
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
          <button type="button" id="modal-accept" class="action-button">Accept</button>
        </div>

      	</div>
    </div>

	<script src="map.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous"/>


